body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;

    background: linear-gradient(275deg,#1A2360, #283593,#283593, #1A2360);
    background-size: 1000% 1000%;
    -webkit-animation: gradientAnimation 10s ease infinite;
    -moz-animation: gradientAnimation 10s ease infinite;
    -o-animation: gradientAnimation 10s ease infinite;
    animation: gradientAnimation 10s ease infinite;
}
@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-o-keyframes gradientAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@keyframes gradientAnimation { 
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}

.content {
    text-align: center;
}

.content a img {
    width: 30%;
    height: 100%;
    margin: 3px;
}

.content a {
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

.head h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
}

.content a:hover img{
    cursor: default;
    transition: .5s;
    transform: scale(1.02);
    /* -webkit-filter: blur(5px);
    filter: blur(0.75px); */
}

@media (max-width: 800px) {
    .content a img {
        width: 45%;
    }
}

@media (max-width: 400px) {
    .head h1 {
        font-size: 32px;
    }
    .content a img {
        width: 85%;
    }
}
