/* /* Main stuff */
.text--transparent {
  fill: transparent; }

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 0) translate(0, 0);
  transform: scale(0, 0) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate; }
  .colortext .anim-shape:nth-child(1) {
    fill: #000050; }
  .colortext .anim-shape:nth-child(2) {
    fill: #000045; }
  .colortext .anim-shape:nth-child(3) {
    fill: #000030; }
  .colortext .anim-shape:nth-child(4) {
    fill: #000025; }
  .colortext .anim-shape:nth-child(5) {
    fill: #000020; }

.shadow {
  -webkit-transform: translate(10px, 10px);
  transform: translate(10px, 10px); }

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2; }

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0); } }
@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0); } }
/* Other stuff */
BODY {
  background: #000; }

.content {
  font: 800 14.5em/1  'Open Sans', Impact; }

svg {
 position: absolute;
  	width: 50%;
  	top : 50%;
  	left :50%;
  	transform: translate(-50%,-50%);	
  	margin: 0 auto 50px;
  	display: block;
  	text-transform: uppercase;
  	font-family: 'Lato', sans-serif;
 } }
	