body {
	margin: 0;
	padding: 0;
	/*user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;*/
}

#nav-bar {
    list-style-type: none;
	display: block;
    margin: 0;
    padding: 0;
	height: 60px;
    background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
	transition: all ease .5s;
	z-index: 10;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    font-style: 19px;
    padding: 20px 85px;
    text-decoration: none;
	font-weight: 1000;
	font-family: 'Roboto-Condensed', sans-serif;
}

#nav-bar li a:hover:not(.active) {
    background-color: #66a3ff;
}

.active {
    background-color: #141452;
}

/*nav scrolling*/ 
#nav-bar.shrink {
  height: 60px;
  transition: all ease 2s;
  background:  #000033; /*Change background to dark blue on scroll*/
}

#container-1 {
	margin-top: 0;
	height: 65vh;
	width: 100%;
	background-image: url('../images/bit_main_4.jpg'); 
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	margin:0px;
	padding-top: 35vh;
	text-align: center;	
	font-size: 30px;
	color: #fff;
	font-family: 'Roboto-Condensed', sans-serif;
}

/*#container-2 {
	min-height: 100vh;
	width: 100%;
}
*/
.ieee-logo {
	height: 100px;
	width: 341.88px;
	transition: 0.01s;
}

#main-text {
	margin-top: 0px;
}

#scroll-down-icon {
	height:30px; 
	width: 70px;

	/*The animation part..*/ 
	animation: animate 1s linear infinite;
}

/*button for bottom to top on click*/
#btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: all ease .5s;
}

#btn:hover {
  background-color: #555;
}
/*button css over*/

#container-2 {
	padding-top: 50px;
}

@keyframes animate {
	0%
	{
		transform: translateY(-10px);
	}
	20%
	{
		transform: translateY(0px);
	}
	40%
	{
		transform: translateY(0px);
	}
	60%
	{
		transform: translateY(0px);
	}
	100%
	{
		transform: translateY(10px);
	}
}


@media (max-width: 1620px) {
	#nav-bar li a {
		padding: 20px 60px;
	}
}
@media (max-width: 1400px) {
	#nav-bar li a {
		padding: 20px 40px;
		
	}
}
@media (max-width: 1200px) {
	#nav-bar li a {
		padding: 20px 20px;
	}
}
@media (max-width: 800px) {
	#nav-bar li a {
		padding: 20px 20px;
		font-size: 15px;
	}
}
@media (max-width: 400px) {
	#nav-bar li a {
		padding: 20px 10px;
		font-size: 15px;
	}
}

/* the footers are fixed to the bottom of the page */
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }

}

