body {
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}


#nav-bar {
    list-style-type: none;
	display: block;
    margin: 0;
    padding: 0;
	height: 60px;
    background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
	transition: all ease .5s;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
	font-weight: 500;
}

#nav-bar li a:hover:not(.active) {
    background-color: #66a3ff;
}

.active {
    background-color: #141452;
}
/*nav scrolling*/ 
#nav-bar.shrink {
  height: 60px;
  transition: all ease .5s;
  background:  #000033; /*Change background to dark blue on scroll*/
}

#container-1 {
	height: 65vh;
	width: 100%;
	background-image: url('../images/bit_main_4.jpg'); 
	background-size: cover;
	background-attachment: fixed;
	margin:0px;
	padding-top: 35vh;
	text-align: center;	
	font-size: 30px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

#container-2 {
	height: 100vh;
	width: 100%;
	background-color: #1A477E;
}

.ieee-logo {
	height: 70px;
	width: 239.32px;
}

#main-text {
	margin-top: 0px;
}

#scroll-down-icon {
	height:30px; 
	width: 70px;

	/*The animation part..*/ 
	animation: animate 1s linear infinite;
}

@keyframes animate {
	0%
	{
		transform: translateY(-10px);
	}
	20%
	{
		transform: translateY(0px);
	}
	40%
	{
		transform: translateY(0px);
	}
	60%
	{
		transform: translateY(0px);
	}
	100%
	{
		transform: translateY(10px);
	}
}

