html,body {
	margin: 0;
	padding: 0;
}

#nav-bar {
    list-style-type: none;
	display: block;
    margin: 0;
    padding: 0;
	height: 60px;
    background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
	transition: all ease .5s;
	z-index: 10;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    font-style: 19px;
    padding: 20px 85px;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

#nav-bar li a:hover:not(.active) {
    background-color: #66a3ff;
}

.active {
    background-color: #141452;
}

/*nav scrolling*/ 
#nav-bar.shrink {
  height: 60px;
  transition: all ease 2s;
  background:  #000033; /*Change background to dark blue on scroll*/
}

/*NAV BAR 2*/
#nav-bar-2{
	list-style-type: none;
	display: none;
    margin: 0;
    padding: 0;
	height: 60px;
    background-color:transparent;
    position: fixed;
    top: 0;
	transition: all ease .5s;
	z-index: 10;
}
#nav-bar-2 li{
  	float: left;
}

#nav-bar-2 li a {
	display: block;
    padding: 20px 50px;
    margin: 5px auto; 
    color: white;
}
#nav-bar-2 li a:hover:not(.active) {
  	background-color: #66a3ff;
}
#nav-bar-2 li #blank:hover:not(.active) {
	background: transparent;
}

/*nav scrolling*/ 
#nav-bar-2.shrink {
	height: 60px;
	transition: all ease 2s;	
	background:  #000033; /*Change background to dark blue on scroll*/
}

#container-1 {
	margin-top: 0;
	height: 65vh;
	width: 100%;
	/* background-image: url('../images/bit_main.jpg');  */
	background: linear-gradient(rgba(0, 0, 0, 0.80),rgba(88, 185, 253, 0.60)),
	url('../images/bit_main.jpg'); 
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	margin:0px;
	padding-top: 35vh;
	text-align: center;	
	font-size: 30px;
	color: #fff;
	font-family: 'Roboto-Condensed', sans-serif;
}

.ieee-logo {
	height: 100px;
	width: 341.88px;
	transition: 0.01s;
}

#main-text {
	margin-top: 0px;
	font-family: 'Poiret One', cursive;
}

#scroll-down-icon {
	height:30px; 
	width: 70px;
	animation: animate 1s linear infinite;
}

/*button for bottom to top on click*/
#btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: all ease .5s;
}

#btn:hover {
  background-color: #555;
}
/*button css over*/

#container-2 {
	padding-top: 50px;
}

@keyframes animate {
	0%
	{
		transform: translateY(-10px);
	}
	20%
	{
		transform: translateY(0px);
	}
	40%
	{
		transform: translateY(0px);
	}
	60%
	{
		transform: translateY(0px);
	}
	100%
	{
		transform: translateY(10px);
	}
}
/* the footers are fixed to the bottom of the page */
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }

}


@media screen and (max-width: 1620px) {
	#nav-bar li a {
		padding: 20px 45px;
	}
}
@media screen and (max-width: 1400px) {
	#nav-bar li a {
		padding: 20px 30px;	
	}
}
@media screen and (max-width: 1200px) {
	#nav-bar li a {
		padding: 20px 20px;
	}
}
@media screen and (max-width: 965px) {
	#nav-bar{
		display: none;
	}
	#nav-bar-2{
		display: block;
	}	
}
@media screen and (max-width: 965px) {
	#nav-bar-2 li a {
		padding: 20px 52px;
	}
	.ieee-logo {
		height: 80px;
		width: 273.504px;
	}
}
@media screen and (max-width: 860px) {
	#nav-bar-2 li a {
		padding: 20px 45px;
	}
}
@media screen and (max-width: 760px) {
	#nav-bar-2 li a {
		padding: 20px 40px;
	}
}
@media screen and (max-width: 690px) {
	#nav-bar-2 li a {
		padding: 20px 35px;
	}
	.ieee-logo {
		height: 60px;
		width: 205.128px;
	}
	#container-1 {
		font-size: 24px;
	}
}
@media screen and (max-width: 620px) {
	#nav-bar-2 li a {
		padding: 20px 30px;
	}
}
@media screen and (max-width: 550px) {
	#nav-bar-2 li a {
		padding: 20px 26px;
	}
}
@media screen and (max-width: 500px) {
	#nav-bar-2 li a {
		padding: 20px 22px;
	}
}
@media screen and (max-width: 450px) {
	#nav-bar-2 li a {
		padding: 20px 18px;
	}
}
@media screen and (max-width: 400px) {
	#nav-bar-2 li a {
		padding: 20px 14px;
	}
	.ieee-logo {
		height: 50px;
		width: 170.940px;
	}
	#container-1 {
		font-size: 21px;
	}
}
@media screen and (max-width: 360px) {
	#nav-bar-2 li a {
		padding: 16px 10px;
	}
}
@media screen and (max-width: 320px) {
	#nav-bar-2 li a {
		padding: 16px 8px;
	}
}
