body {
    margin: 0;
    padding: 0;
    background: #1A477E;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(275deg,#1A2360, #283593,#283593, #1A2360);
    background-size: 1000% 1000%;

    -webkit-animation: gradientAnimation 10s ease infinite;
    -moz-animation: gradientAnimation 10s ease infinite;
    -o-animation: gradientAnimation 10s ease infinite;
    animation: gradientAnimation 10s ease infinite;
}
@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-o-keyframes gradientAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@keyframes gradientAnimation { 
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}

.team {
    padding: 50px 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.row {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.row h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}

.row table tr td {
    color: #fff;
}

.row table tr td a {
    color: #fff;
}

.row p {
    margin: 20px 0 0;
    color: #fff;
    padding-left: 20px;
}

.mgt50px {
    margin-top: 50px;
}

.row .column {
    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 200px;
    background: #fff;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    
}

.row .column:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 114, 168,1);
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
    opacity: 0.3;
    z-index: 1;
}

.row .column:hover:before {
    bottom: 0;
}

.row .column .imgBox {
    position: relative;
}

.row .column .imgBox img {
    width: 100%;
    transition: 5s;
}

.row .column:hover .imgBox img {
    transform: scale(1.5);
}

.row .column .details {
    position: absolute;
    bottom: -85px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    transition: 0.5s;
    z-index: 2;
}

.row .column:hover .details {
    bottom: 0;
}
.row .column .details h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}

.row .column .details h3 span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #0072A8;
    font-weight: 900;
    position: relative;
    top: -6px;
}

.row .column .details ul {
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

.row .column .details ul li {
    list-style: none;
} 

.row .column .details ul li a {
    padding: 0 10px;
    color: #fff;
}

.row .column .details ul li a .fa {
    transition: 0.5s;
}

.row .column .details ul li a:hover .fa {
    transform: rotateY(360deg);
    color: #0072A8;
}

@media (max-width: 1280px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }
    .row .column {
        width: calc(25% - 20px);
        margin-bottom: 20px;
    }
    .row .column .details h3 span {
        font-size: 12px;
    }
}

@media (max-width: 1100px) {
    .row .column .details h3 {
        font-size: 16px;
    }
}

@media (max-width: 920px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }
    .row .column {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .row .column .details h3 {
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }
    .row .column {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }
    .row .column .details h3 {
        font-size: 20px;
    }
}
